* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap");
/* =====setting the bg for all web */
body {
  background: hsl(0, 0%, 95%);
}
/* ==========roots============ */
:root {
  --almostwhite: hsl(0, 0%, 98%);
  --mediumgray: hsl(0, 0%, 41%);
  --almostblack: hsl(0, 0, 8%);
}
li {
  list-style: none;
}
/* =========roots ends============= */

/* ==========nav bar intitial spacing ================== */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
/* ====adjusting logo========= */
.logo {
  padding: 10px 50px;
  list-style-type: none;
}
/* ===============logo ends=============== */

/* =========nav-links============ */
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
}
.nav-menu li {
  list-style-type: none;
  gap: 3em;
}
.nav-menu a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  color: var(--mediumgray);
  padding-left: 30px;
}
.features {
  position: relative;
}
/* ===adjusting drop down bg=============== */
.dropdown {
  position: absolute;
  padding: 1em 0;
  top: 35px;
  background-color: var(--almostwhite);
  border-radius: 8px;
}
